* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

@font-face {
  font-family: 'Base';
  src: url('fonts/Retro Team.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --base-color: #ffe100;
}

body {
  font: 400 1rem 'Consolas', sans-serif;
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

h1 {
  color: var(--base-color);
  font-family: 'Base', Times, sans-serif;
  font-size: 2em;
}

/*Header - Menu Inicial e Cabeçalho*/

#header {
  border-bottom: 2px solid var(--base-color);
  background-color: #000;
  margin-bottom: 2rem;
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 1.2);
}

.title {
  color: #000;
  font-family: 'Base', Times, sans-serif;
  font-size: 2em;
}

.grid {
  display: grid;
  gap: 2rem;
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.section {
  padding: 5rem 0;
  border-bottom: 2px solid var(--base-color);
}

.section {
  padding: 5rem 0;
}
.section .title {
  margin-bottom: 1rem;
}

.button {
  display: inline-flex;
  align-items: center;
  background-color: var(--base-color);
  color: #000;
  height: 3.5rem;
  padding: 0 2rem;
  border-radius: 00.25rem;
  transition: background 0.3s;
}

.button i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
}
.button:hover {
  background: #000;
  color: var(--base-color);
}

/*=================Navegação===================*/

nav {
  height: 4.5rem;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: var(--base-color);
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover {
  color: var(--base-color);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--base-color);

  position: absolute;
  left: 0;
  bottom: -1.5rem;
  transition: width 0.2s;
}

nav ul li a:hover::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
}

nav.show .menu {
  opacity: 1;
  visibility: visible;
  background: #f9f9f9;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
}

nav.show ul.grid {
  gap: 4rem;
}

/*Toggle menu*/
nav .icon-close {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 1.5rem;
  transition: 0.2s;
  top: -1.5rem;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

.toggle {
  color: var(--base-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*================= FIM - Navegação===================*/

.logo {
  text-decoration: none;
}

/*FIM - Header - Menu Inicial e Cabeçalho*/
main {
  margin-top: 4.5rem;
}

/*Section Principal - HOME*/

#home {
  overflow: hidden;
  background: #f9f9f9;
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
}

/*before criar um elemento fantasma*/
#home .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--base-color);
  position: absolute;
  top: -16.8%;
  left: 5.7%;
  z-index: 0;
}

#home .image img {
  position: relative;
  right: 2.93rem;
}

#home .image img,
#home .image::before {
  border-radius: 0.25rem;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

#home .text h2 {
  font-family: 'Base', Times, sans-serif;
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  max-width: 100%;
}

#home .text p {
  margin-bottom: 2rem;
}

/*=============Sobre==================*/

#about {
  background: white;
  padding: 0;
}

#about .container {
  margin: 0;
}

#about .image img,
#about .image::before {
  border-radius: 0.25rem;
}

#about .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: justify;
}

#about .text p {
  margin-bottom: 2rem;
}

/*=============Planos==================*/

#planos {
  background: white;
  padding: 0;
}

#planos .container {
  margin: 0;
}

#planos .image {
  display: flex;
  position: relative;
  height: 7.75rem;
  background-color: #000;
}

#planos .image img {
  object-fit: cover;
  width: 100%;
  object-position: 0rem 0rem;
}

#planos .grid {
  gap: 0;
}

#planos h2.title {
  color: var(--base-color);
  position: absolute;
  width: 100%;
  padding-top: 16rem;
  color: var(--base-color);
  padding-top: 3rem;
}

/*=============Services==================*/

.card {
  padding: 2.625rem;
  margin: 2.5rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--base-color);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
  background: #fff;
}

.card i {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 4rem;
  color: #000;
}

.card .title,
h2 {
  font-size: 2rem;
  text-align: center;
  font-family: Base;
  margin-bottom: 0.5rem;
  color: #000;
}

/*=============Horarios==================*/
#horario {
  background: #000;
  padding: 0;
  padding: 3rem 0;
  font-size: 1rem;
}

#horarios .container {
  margin: 0;
}

#horario .title {
  color: var(--base-color);
  font-size: 3rem;
}

#horario .tabela-horarios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#horario .time-sem {
  text-align: center;
  font-size: 2rem;
  color: #000;
  width: 5rem;
}

#horario .sem {
  padding-top: 0.5rem;
  background-color: #fff;
  margin-bottom: 0.25rem;
}

#horario .hrs {
  background-color: #fff;
}

#horario .gap {
  gap: 0rem;
}

/*Contatos*/

#contato .grid {
  gap: 4rem;
}
#contato h2 {
  text-align: left;
}

#contato .text p {
  margin-bottom: 2rem;
}

#contato .image img {
  display: none;
}

#contato .links {
  margin-top: 3rem;
}

#contato .button i,
#contato ul li i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
}

#contato ul.grid {
  gap: 2rem;
}

#contato ul li {
  display: flex;
  align-items: center;
}

#contato ul li i {
  color: var(--base-color);
}

#local {
  background: white;
  padding: 0;
}

#local .container {
  margin: 0;
}

#local img {
  display: none;
}

footer {
  background-color: #000;
  color: #f9f9f9;
  text-align: center;
}

footer.section {
  padding: 4rem 0;
}

footer .brand p {
  margin-bottom: 0.75rem;
}

footer i {
  font-size: 1.5rem;
  color: var(--text-color-light);
}

footer .social {
  grid-auto-flow: column;
}
footer .social a {
  transition: 0.3s;
  display: inline-block;
  color: var(--base-color);
}
footer .social a:hover {
  transform: translateY(-8px);
}

.robertson {
  background-color: white;
  color: #000;
  padding: 1rem;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 10rem 0;
  }

  .section header,
  #testimonials header {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    align-items: center;
    height: 3.125rem;
  }

  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    color: #f9f9f9;
    font: 500 1rem 'DM Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }

  nav .icon-menu {
    display: none;
  }

  main {
    margin-top: var(--header-height);
  }

  /*Home*/

  #home .container {
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0 auto;
  }

  #home .image {
    order: 1;
    right: -2.93rem;
  }

  #home .text {
    order: 0;
    max-width: 24rem;
    text-align: left;
  }

  /*Abaut*/
  #about .container {
    margin: 0 auto;
    grid-auto-flow: column;
  }
  #about {
    padding: 5rem 0;
  }

  #about .image img {
    width: 20rem;
  }

  #about .image::before {
    content: '';
    height: 100%;
    width: 100%;
    background: var(--base-color);
    position: absolute;
    top: -8.8%;
    left: -16.7%;
    z-index: -1;
  }

  #planos {
    position: relative;
    display: flex;
    justify-content: center;
  }

  #planos .image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
  }

  .cards {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
  }

  .card {
    padding-left: 3rem;
    padding-right: 3rem;
    gap: 1rem;
  }

  #horario .time-sem {
    font-size: 3rem;
    width: 10rem;
  }

  #contato.section {
    padding: 0rem;
  }

  #contato .container {
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0 auto;
  }

  #contato .image {
    position: relative;
    order: 1;
  }

  #contato .image img {
    max-width: 25rem;
    display: block;
  }

  #contato .text {
    order: 0;
    max-width: 30rem;
    text-align: left;
    margin: auto;
  }

  #contato .links {
    margin-top: 3rem;
  }

  #local {
    position: relative;
    display: flex;
    justify-content: center;
  }

  #local img {
    display: block;
    position: absolute;
    height: 100%;
    left: 0%;
    z-index: -10;
  }

  #local .maps {
    margin: 5rem auto;
  }

  #local .maps iframe {
    height: 25rem;
    width: 1120px;
    border-radius: 2rem;
  }
  footer .section {
    padding: 3.75rem 0;
  }

  footer .logo {
    font-size: 1.2rem;
  }

  footer .brid {
    text-align: left;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }
}
